@charset "UTF-8";
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraLight.eot");
  src: local("Circe ExtraLight"), local("Circe-ExtraLight"), url("../fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Thin.eot");
  src: local("Circe Thin"), local("Circe-Thin"), url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Thin.woff") format("woff"), url("../fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-MediumItalic.eot");
  src: local("Circular Std Medium Italic"), local("CircularStd-MediumItalic"), url("../fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-MediumItalic.woff2") format("woff2"), url("../fonts/CircularStd-MediumItalic.woff") format("woff"), url("../fonts/CircularStd-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Black.eot");
  src: local("Circular Std Black"), local("CircularStd-Black"), url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("CircularStd-Medium"), url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.eot");
  src: local("Circular Std Bold"), local("CircularStd-Bold"), url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-BlackItalic.eot");
  src: local("Circular Std Black Italic"), local("CircularStd-BlackItalic"), url("../fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BlackItalic.woff2") format("woff2"), url("../fonts/CircularStd-BlackItalic.woff") format("woff"), url("../fonts/CircularStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-BookItalic.eot");
  src: local("Circular Std Book Italic"), local("CircularStd-BookItalic"), url("../fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff"), url("../fonts/CircularStd-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-BoldItalic.eot");
  src: local("Circular Std Bold Italic"), local("CircularStd-BoldItalic"), url("../fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BoldItalic.woff2") format("woff2"), url("../fonts/CircularStd-BoldItalic.woff") format("woff"), url("../fonts/CircularStd-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.eot");
  src: local("Circular Std Book"), local("CircularStd-Book"), url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera";
  src: url("../fonts/Gerbera.eot");
  src: local("☞Gerbera"), local("Gerbera"), url("../fonts/Gerbera.eot?#iefix") format("embedded-opentype"), url("../fonts/Gerbera.woff2") format("woff2"), url("../fonts/Gerbera.woff") format("woff"), url("../fonts/Gerbera.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera";
  src: url("../fonts/Gerbera-Light.eot");
  src: local("☞Gerbera Light"), local("Gerbera-Light"), url("../fonts/Gerbera-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gerbera-Light.woff2") format("woff2"), url("../fonts/Gerbera-Light.woff") format("woff"), url("../fonts/Gerbera-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera";
  src: url("../fonts/Gerbera-Black.eot");
  src: local("☞Gerbera Black"), local("Gerbera-Black"), url("../fonts/Gerbera-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gerbera-Black.woff2") format("woff2"), url("../fonts/Gerbera-Black.woff") format("woff"), url("../fonts/Gerbera-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera";
  src: url("../fonts/Gerbera-Bold.eot");
  src: local("☞Gerbera Bold"), local("Gerbera-Bold"), url("../fonts/Gerbera-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gerbera-Bold.woff2") format("woff2"), url("../fonts/Gerbera-Bold.woff") format("woff"), url("../fonts/Gerbera-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera";
  src: url("../fonts/Gerbera-Medium.eot");
  src: local("☞Gerbera Medium"), local("Gerbera-Medium"), url("../fonts/Gerbera-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gerbera-Medium.woff2") format("woff2"), url("../fonts/Gerbera-Medium.woff") format("woff"), url("../fonts/Gerbera-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body, p, h1, h2, ul {
  margin: 0;
  padding: 0;
}

.content-whf {
  display: flex;
  background-color: #f6fafa;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.content-whf.form2-theme {
  background-image: url("../img/texture.png");
  background-repeat: repeat;
}

.tpsform {
  width: 540px;
  box-shadow: 0 6px 29px rgba(31, 106, 106, 0.25);
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.tpsform.form1-theme {
  padding: 37px 32px 17px;
}

.tpsform.form2-theme {
  padding: 28px 29px 59px 32px;
}

.tpsform_hdr {
  color: #000000;
  font-family: "Circular Std", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.tpsform_radiobox {
  margin-top: 44px;
  margin-bottom: 41px;
}

.tpsform_radioitem {
  margin-top: 9px;
  position: relative;
  height: 98px;
  width: 100%;
}
.tpsform_radioitem button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  padding-left: 46px;
  height: 98px;
  background-color: #edf7f7;
  border-radius: 3px;
  border: none;
}
.tpsform_radioitem button:hover {
  background-color: rgba(186, 224, 224, 0.7);
  cursor: pointer;
}
.tpsform_radioitem input:checked + label {
  background-color: #bae0e0;
}
.tpsform_radioitem input:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23008d68' d='M10 5a5 5 0 1 1 0 10 5 5 0 0 1 0-10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.tpsform_radioitem .tpsform_radioico {
  width: 117px;
  text-align: center;
}
.tpsform_radioitem .tpsform_radioname {
  padding-left: 19px;
}

.tpsform_radioitem:first-child {
  margin-top: 0;
}
.tpsform_radioitem:first-child .tpsform_radioname {
  color: #000000;
  font-family: "Gerbera", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.tpsform_radioitem:nth-child(2) .tpsform_radioname {
  color: #000000;
  font-family: "Circe", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 100%;
  box-shadow: 0 3px 11px rgba(0, 176, 132, 0.35);
  border-radius: 23px;
  color: #ffffff;
  font-family: "Circular Std", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.form-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form-btn.form2-theme {
  margin-top: 10px;
}
.form-btn.form2-theme:first-of-type {
  margin-bottom: 0;
}

.form-btn.green-theme {
  background-color: #008d68;
}

.form-btn.red-theme {
  background-color: #d53b3e;
}

.form-btn.yellow-theme {
  background-color: #f08d00;
}

.black-theme.form-btn {
  background-color: #1e1e1e;
}

.infoline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #008d68;
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}

.infoline_value {
  text-align: right;
}
.infoline_value span {
  font-size: 24px;
}

.delimiter {
  margin: 20px -29px 30px -32px;
  border: none;
  border-bottom: solid 2px #ebf1f1;
}

.cardico {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 21px;
}
.cardico img {
  margin-left: 6px;
}

.tpsform_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.tpsform_input span {
  color: #000000;
  font-family: "Circular Std", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.tpsform_input span.focused {
  color: #008d68;
}
.tpsform_input input {
  height: 35px;
  padding-top: 7px;
  padding-bottom: 6px;
  color: #000000;
  font-family: "Circular Std Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #d2d2d7;
  outline: 0;
}
.tpsform_input input:focus, .tpsform_input input:active {
  border-bottom: 2px solid #008d68;
}

.formline {
  display: flex;
  align-items: center;
}

.select {
  position: relative;
}
.select .head {
  position: relative;
  color: #000000;
  font-family: "Circular Std Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 35px;
  border-bottom: 2px solid #d2d2d7;
}
.select .head:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%232a2a2a' d='M4.987 4.98L.013.17h9.993z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  width: 10px;
  height: 5px;
  top: 50%;
  margin-top: -2.5px;
  right: 15px;
}
.select .select_box {
  display: none;
  width: 100%;
  list-style-type: none;
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  padding-left: 0;
  z-index: 11000;
}
.select .select_box li {
  height: 36px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding-left: 10px;
  font-family: "Circular Std Book", sans-serif;
}
.select .select_box li:hover {
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.1);
}
.select.opened .head {
  border-bottom: 2px solid #008d68;
}
.select.opened .select_box {
  display: block;
}

.select-placeholder {
  opacity: 0.5;
}

.select.form2-theme {
  width: 140px;
  margin-right: 11px;
  margin-bottom: 22px;
}

.formline .tpsform_input {
  width: 173px;
}

.select_label {
  color: #000000;
  font-family: "Circular Std", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.tpsform_input.ico {
  position: relative;
  box-sizing: border-box;
}
.tpsform_input.ico:after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 0;
  background-color: white;
  background-repeat: no-repeat;
}
.tpsform_input.ico.pass:after {
  width: 26px;
  height: 33px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='20' viewBox='0 0 15 20'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23d3d3d3' d='M13.1 6.666c1.034 0 1.88.855 1.88 1.899v9.512c0 1.045-.846 1.905-1.88 1.905H1.853c-1.035 0-1.877-.86-1.877-1.905V8.565c0-1.044.842-1.899 1.877-1.899h.933V4.763C2.786 2.102 4.85.006 7.474.006c2.631 0 4.69 2.096 4.69 4.757v1.903zm-5.626 8.56c1.034 0 1.88-.86 1.88-1.904 0-1.046-.846-1.9-1.88-1.9-1.029 0-1.87.854-1.87 1.9 0 1.044.841 1.903 1.87 1.903zm2.909-10.463c0-1.617-1.31-2.95-2.909-2.95-1.592 0-2.901 1.333-2.901 2.95v1.903h5.81z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.checkbox {
  margin-bottom: 45px;
  height: 20px;
}
.checkbox input {
  display: none;
}
.checkbox label {
  position: relative;
  padding-left: 35px;
  color: #000000;
  font-family: "Circular Std Book", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.checkbox label:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #d2d2d7;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  box-sizing: border-box;
  margin-top: -10px;
}
.checkbox label a {
  color: #000000;
  text-decoration: underline;
  outline: 0;
}
.checkbox input:checked + label:before {
  content: "✓";
  font-size: 16px;
  text-align: center;
}

.withheaderfooter {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.topline {
  width: 100%;
  height: 36px;
  background-color: #2c2f32;
  display: flex;
  align-items: center;
}
.topline .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 1124px;
  margin: auto;
}

.topline_links a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  outline: 0;
  margin-right: 20px;
}

.telinfo {
  display: flex;
  align-items: center;
}
.telinfo p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.telinfo .telinfo_number {
  font-size: 16px;
  margin-right: 23px;
}

.hat {
  display: flex;
  align-items: center;
  height: 83px;
  width: 100%;
  position: relative;
}
.hat:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 6px;
  box-shadow: 0 5px 14px rgba(20, 34, 41, 0.29);
  background-color: #8e4dff;
}
.hat .container {
  display: flex;
  align-items: center;
}

.hat_logo {
  width: 236px;
  height: 57px;
  box-sizing: border-box;
  padding-top: 8px;
}

.menu {
  margin-right: auto;
  margin-left: 78px;
}
.menu ul {
  list-style-type: none;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 512px;
}
.menu .menu_item {
  position: relative;
}
.menu .menu_item a {
  color: #12242b;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  outline: 0;
}
.menu .menu_item:hover:after, .menu .menu_item.active:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  height: 2px;
  background-color: #8e4dff;
}

.linksbox {
  display: flex;
  align-items: center;
  width: 134px;
  justify-content: space-between;
}

.content {
  background-color: #f8f8f8;
  padding-bottom: 77px;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 38px;
}

.product_name {
  color: #0f2024;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  margin-right: 31px;
  position: relative;
}
.product_name:after {
  content: "/";
  position: absolute;
  right: -20px;
}
.product_name:last-child:after {
  display: none;
}

.productlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productlist_item {
  width: 350px;
  box-shadow: 0 6px 22px rgba(21, 31, 40, 0.25);
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 23px 22px 32px 22px;
}

.productlist_productimg {
  display: flex;
  width: 100%;
  height: 360px;
}
.productlist_productimg img {
  max-width: 100%;
}

.productlist_productname {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 18px;
  text-align: center;
}

.productlist_prductprice {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.storebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 243px;
  height: 46px;
  box-shadow: 0 3px 11px rgba(60, 13, 141, 0.35);
  border-radius: 23px;
  background-color: #8e4dff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin: 33px auto auto;
}
.storebtn:hover {
  box-shadow: 0 3px 19px rgba(76, 18, 178, 0.35);
  background-color: #de6fff;
  background-image: linear-gradient(to right, #ba60ff 0%, #8e4dff 99%, #8e4dff 100%);
}

.container.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.msgbox {
  width: 540px;
  box-shadow: 0 6px 22px rgba(21, 31, 40, 0.25);
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 15px;
}

.msgbox.failed {
  padding: 53px 20px 67px 20px;
}

.msgbox.succes {
  padding: 53px 60px 67px 61px;
}

.msgbox.pending {
  padding: 53px 60px 58px 61px;
}

.msgbox_ico {
  width: 100%;
  height: 90px;
  margin-bottom: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msgbox_ico svg {
  width: 90px;
  height: 90px;
}

.msgbox_hdr {
  color: #8e4dff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 21px;
}

.msgbox_text {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.msgbox_line {
  height: 2px;
  background-color: #000000;
  border: none;
  width: 67px;
  margin: 27px auto 24px;
}

.msgbox_techinfo {
  width: 100%;
  text-align: center;
}
.msgbox_techinfo p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.msgbox_techinfo p:last-child {
  margin-bottom: 0;
}

.storebtn.pendingpage-theme {
  width: 255px;
  margin-top: 61px;
  text-transform: uppercase;
}

.pagefooter {
  height: 209px;
  background-color: #2c2f32;
  padding-top: 28px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.pagefooter_links {
  display: flex;
}
.pagefooter_links .linkblock {
  list-style-type: none;
  padding-left: 0;
}
.pagefooter_links .linkblock li {
  margin-bottom: 5px;
}
.pagefooter_links .linkblock li a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.pagefooter_links .linkblock .linkblock_hdr {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.pagefooter_links .linkblock.block1 {
  margin-right: 117px;
}
.pagefooter_links .linkblock.block2 {
  margin-right: 205px;
}
.pagefooter_links .contactinfo {
  width: 188px;
  margin-right: 100px;
}
.pagefooter_links .contactinfo p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.pagefooter_links .contactinfo .contactinfo_number {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 6px;
}
.pagefooter_links .contactinfo .contactinfo_time {
  font-weight: 300;
  margin-bottom: 23px;
}
.pagefooter_links .subscribeform .subscribeform_text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  width: 193px;
  margin-bottom: 15px;
}
.pagefooter_links .subscribeform .subscribeform_input {
  display: block;
  width: 256px;
  height: 36px;
  border-radius: 2px;
  background-color: #ffffff;
  position: relative;
  padding-right: 85px;
  box-sizing: border-box;
}
.pagefooter_links .subscribeform .subscribeform_input input {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 11px;
  border: none;
  outline: 0;
  height: 34px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagefooter_links .subscribeform .subscribeform_input .subscribeform_btn {
  position: absolute;
  right: 0;
  top: 50%;
  width: 85px;
  margin-top: -11.5px;
  background: transparent;
  height: 23px;
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  outline: 0;
  padding: 0;
  border-left: solid 1px #cdcdcd;
  cursor: pointer;
}
.pagefooter_links .subscribeform .subscribeform_input .subscribeform_btn:hover {
  opacity: 0.8;
}

.bottomline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}
.bottomline .copy {
  color: #9a9a9a;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.bottomline .social {
  width: 278px;
}
.bottomline .social a {
  margin-right: 5px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
