*{
  font-family: 'CircularStd-Book',sans-serif;
  color: white;
}
.background{
  background: #177960;
  height: 100vh;
}
.w250{
  width: 250px;
}
p{
  font-size: 25px;
}
span{
  font-size: 15px;
}
.copyright{
  bottom: 10px;
  font-size: 8px
}
