<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
    <img class="header-parallax-img" src="../assets/shapes/3434.png">
  </div>
  <app-header></app-header>
<router-outlet></router-outlet>
  <div class="parallax__layer parallax__layer--back" style="top: unset">
    <div class="position-relative parallax-wrap">
      <div class="position-relative">
        <img class="bottom-parallax-img" src="../assets/shapes/ractangle_bottom.png">
        <a href="#top" class="btn-to-top"><img src="../../assets/shapes/Button Go Up Hover.png" alt=""></a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
