<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
    <img src="../assets/shapes/3434.png" style="position: absolute;
    top: -530px;
    right: -1500px;
    width: 165%;">
  </div>
  <app-header></app-header>
<router-outlet></router-outlet>

  <div class="parallax__layer parallax__layer--back" style="top: unset">
    <div style="position:absolute;top: 2796px">
      <img src="../assets/shapes/ractangle_bottom.png">
      <app-footer></app-footer>
    </div>
  </div>
</div>
