.w160{
  width: 160px;
  margin-right: 20px;
}
.w1058{
  width: 1058px;
}
.btn{
  font-size: 10px;
}
.btn-back{
  font-size: 11px;
}
.form-control{
  width: 522px!important;
}
.user-options{
  width: 514px;
  height: 344px;
}
.user-info-title{
  font-size: 18px;
}
.success{
  color: #008D68;
}

