<div>
  <a href="#" class="btn btn-success btn-round btn-back" (click)="$event.preventDefault();navigateToSettings()"><i class="material-icons">arrow_left</i>Назад<div class="ripple-container"></div></a>
    <perfect-scrollbar style="max-height: 605px; max-width: 100%;overflow-y: scroll">
      <div class="d-flex">
        <div class="card w1058">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">manage_accounts</i>
            </div>
            <h4 class="card-title ">Настройки пользователя</h4>
          </div>
          <div class="card-body">
            <h4 class="title">Валюты</h4>
            <div class="togglebutton">
              <label>
                <input type="checkbox" checked="">
                <span class="toggle"></span>
                KZT
              </label>
            </div>
            <div class="togglebutton">
              <label>
                <input type="checkbox" checked="">
                <span class="toggle"></span>
                USD
              </label>
            </div>
            <div class="togglebutton">
              <label>
                <input type="checkbox">
                <span class="toggle"></span>
                EUR
              </label>
            </div>
            <div class="togglebutton">
              <label>
                <input type="checkbox">
                <span class="toggle"></span>
                RUB
              </label>
            </div>
            <a href="#" class="btn btn-success btn-round" (click)="$event.preventDefault();">Сохранить<div class="ripple-container"></div></a>
            <hr>
            <h4 class="title">Платежные методы</h4>
            <div class="togglebutton">
              <label>
                <input type="checkbox" checked="">
                <span class="toggle"></span>
                Visa/Mastercard
              </label>
            </div>
            <div class="togglebutton">
              <label>
                <input type="checkbox" checked="">
                <span class="toggle"></span>
                American Express
              </label>
            </div>
            <div class="togglebutton">
              <label>
                <input type="checkbox">
                <span class="toggle"></span>
                Union Pay
              </label>
            </div>
            <div class="togglebutton">
              <label>
                <input type="checkbox">
                <span class="toggle"></span>
                Qiwi
              </label>
            </div>
            <a href="#" class="btn btn-success btn-round" (click)="$event.preventDefault();">Сохранить<div class="ripple-container"></div></a>
            <hr>
            <h4 class="title">Switches</h4>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">Email</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">Номер телефона</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">ИИН/БИН</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">Наименование</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">Юридический адрес</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">Фактический адрес</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">ФИО Руководитель</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">ФИО ГЛ. бухгалтер</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">Основной номер телефона</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">Банк Клиента</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">ИИК</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group has-default bmd-form-group d-flex">
              <label class="col-form-label w160">БИК</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <a href="#" class="btn btn-success btn-round" style="margin-left: 202px" (click)="$event.preventDefault();">изменить данные<div class="ripple-container"></div></a>
          </div>
        </div>
        <div class="card user-options ml-3">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center">
              <span class="id">ID 63466</span>
              <h4 class="user-info-title">ТОО «Мобайл Телеком-Сервис»</h4>
              <span class="d-flex align-items-center success"><i class="material-icons">verified_user</i>активирован</span>
              <div class="d-flex mt-5">
                <label class="col-form-label label-checkbox pt-0">Роль:</label>
                <div class="row ml-1">
                  <div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">Администратор
                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">Оператор
                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">Мерчант
                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex mt-5">
                <a href="#" class="btn btn-success btn-round btn-back" (click)="$event.preventDefault();">Заблокировать<div class="ripple-container"></div></a>
                <a href="#" class="btn btn-success btn-round btn-back" (click)="$event.preventDefault();">деактивировать<div class="ripple-container"></div></a>
                <a href="#" class="btn btn-success btn-round btn-back" (click)="$event.preventDefault();">удалить<div class="ripple-container"></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
</div>
