<div class="modal-header">
  <h4 class="modal-title">Восстановить пароль</h4>
  <button
      (click)="activeModal.dismiss()"
      type="button"
      class="btn-close"
      aria-label="Close">
  </button>
</div>
<div class="modal-body">
  <form
      [formGroup]="recoveryForm"
      (submit)="sendRequestRecoveryPassword()">
    <div class="input-block">
      <input
          formControlName="email"
          id="header-email"
          class="input"
          type="text"
          placeholder=" ">
      <label
          for="header-email"
          class="placeholder">
        Эл. почта
      </label>
    </div>
    <button
        [disabled]="recoveryForm.invalid"
        type="submit"
        class="button primary btn-small">
      Восстановить
    </button>
  </form>
</div>
