<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>bill</title>
</head>
<body>
<div class="location">
    <h1>Отказано в проведении платежа</h1>
    <div class="nameField" style="color: #ff0000; max-width:420px; margin-left: 640px;  ">
        Верификация держателя карты не была пройдена, перевод не может быть осуществлен.
    </div>
    <div class="nameField">
        <div class="valueField">Статус</div>
        <div class="valueField"><p th:text="${bill.getResultPayment()}"></p></div>
    </div>
    <div class="nameField">
        <div class="valueField">Получатель</div>
        <div class="valueField"><p th:text="${bill.getMerchantName()}"></p></div>
    </div>
    <div class="nameField">
        <div class="valueField"><b>Сумма платежа : </b></div>
        <div class="valueField"><b><p th:text="${bill.getTotalAmount()}"></p></b></div>
    </div>
    <div class="nameField">
        <div class="valueField">№ заказа</div>
        <div class="valueField"><p th:text="${bill.getOrderId()}"></p></div>
    </div>
    <div class="nameField">
        <div class="valueField">Номер уведомления/номер транзакции</div>
        <div class="valueField"><p th:text="${bill.getNumberTransaction()}"></p></div>
    </div>
    <br>
    <div class="nameField" style="color: #ff0000; max-width:420px; margin-left: 640px;  ">
        Контакты вашего банка: Call-center (727) XXX - XX - XX для г.Алматы .
        7588 - бесплатная служба дозвонов с городских телефонов на всей территории Казахстана.
        <br>
        <a href="https://api.capitalpay.kz/testshop/page">Показать адреса отделений</a>
    </div>
    <br><br>
    <button onclick="window.location.href = 'https://api.capitalpay.kz/testshop/page';">Перейти в магазин</button>
    <button onclick="window.location.href = 'https://api.capitalpay.kz/testshop/page';">Печать чека</button>
</div>

</body>
</html>

<style>

    .location {
        text-align: center
    }

    .nameField {
        height: 50px;
    }

    .valueField {
        display: inline-block;
        width: 10%;
    }
</style>
