<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>3D Secure Redirect</title>
</head>
<body>
<FORM action="/" th:action="${acsUrl}" METHOD="POST" name="SendOrder" hidden></br>
    <input hidden name="MD" type="text" th:value="${MD}"/>
    <input hidden name="PaReq" type="text" th:value="${PaReq}"/>
    <input hidden name="TermUrl" type="text" th:value="${TermUrl}"/>
    <input hidden type="submit" name="GotoPay" value="SEND"/>
</FORM>

<script>
    form = document.getElementsByName("SendOrder")[0];
    form.submit();
</script>

</body>
</html>
