<div class="footer">
  <div class="wrap">
    <div class="content justify-content-between">
      <div class="logo-section">
        <div>
          <img src="../../../assets/shapes/logo_footer.svg" alt="">
        </div>
        <div class="language-section">
          <a href="#">English</a>
        </div>
      </div>
      <div class="d-flex menu">
        <div class="menu-type">
          <p>Modules</p>
          <a href="#" class="menu__link">Payment button</a>
          <a href="#" class="menu__link">Bill</a>
          <a href="#" class="menu__link">Terminal</a>
        </div>
        <div class="menu-type">
          <p>Pricing</p>
          <a href="#" class="menu__link">For business</a>
          <a href="#" class="menu__link">For individuals</a>
        </div>
        <div class="menu-type">
          <p>Company</p>
          <a href="#" class="menu__link">About Capitalpay</a>
          <a href="#" class="menu__link">Contact us</a>
        </div>
        <div class="menu-type">
          <p>Legal</p>
          <a href="#" class="menu__link">Terms of Service</a>
          <a href="#" class="menu__link">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div class="info-wrap">
      <div class="info-section">
        <div class="d-inline-block">
          <input class="search-input" placeholder="Site search ..." type="text">
        </div>
        <div class="d-inline-block social-media">
          <a class="social-media__link" href="#">
            <img src="../../../assets/shapes/social-media/telegram.svg" alt="">
          </a>
          <a class="social-media__link" href="#">
            <img src="../../../assets/shapes/social-media/twiter.svg" alt="">
          </a>
          <a class="social-media__link" href="#">
            <img src="../../../assets/shapes/social-media/facebook.svg" alt="">
          </a>
          <a href="#">
            <img src="../../../assets/shapes/social-media/instagram.svg" alt="">
          </a>
        </div>
        <div class="d-inline-block copyright">
            <p>© 2021 All Rights Reserved Capital Pay.</p>
        </div>
      </div>
    </div>
  </div>
</div>
