.hex:before {
  //content: "";
  //width: 0; height: 0;
  //border-bottom: 15px solid white;
  //border-left: 26px solid transparent;
  //border-right: 26px solid transparent;
  //position: absolute;
  //top: -15px;
  //border-radius: 3px;
}

.shape {
  //margin-top: 15px;
  width: 107px;
  height: 110px;
  background-image: url("../../src/assets/shapes/hexa_small.png");
  background-repeat: no-repeat;
  //background-color: white;
  position: relative;
  //float: left;
  //border-radius: 3px;
  //display: flex;
  img{
    position: absolute;
    z-index: 2;
    left: 35px;
    top: 30px;
  }
  &:hover {
    background-image: url("../../src/assets/shapes/circle.svg");
    margin-left: -11px;
    img{
      left: 19px;
      top: 15px;
    }
  }
  //  &:after{
  //    display: none;
  //  }
  //  &:before{
  //    width: 71px;
  //    height: 71px;
  //    border-radius: 50%;
  //  }
  //}
}

//.hex:after {
//  content: "";
//  width: 0;
//  position: absolute;
//  bottom: -15px;
//  left: 0;
//  border-top: 15px solid white;
//  border-left: 26px solid transparent;
//  border-right: 26px solid transparent;
//  border-radius: 3px;
//}
