/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
  cursor: pointer!important;
}
.ng-scrollbar .ng-scrollbar-wrapper[deactivated=false][dir=ltr]>scrollbar-y.scrollbar-control{
    position: absolute;
    right: -20px;
}
.ng-scrollbar{
  height: calc(100vh - 620px)!important;
}
.ng-scrollbar.calc300{
  height: calc(100vh - 250px)!important;
}
.ng-scrollbar.calc400{
  height: calc(100vh - 350px)!important;
}
.ng-scrollbar.calc200{
  height: calc(100vh - 200px)!important;
}
//.ng-scrollbar.calc400{
//  height: calc(100vh - 200px)!important;
//}
.form-control.ng-touched.ng-invalid {
    border-bottom: 1px solid #ff0000;
}


.merchantSearch {
  .dropdown-item {
    background-color: transparent !important;
  }
  .dropdown-menu .dropdown-item:hover,
  .dropdown-menu .dropdown-item:focus,
  .dropdown-menu a:hover,
  .dropdown-menu a:focus,
  .dropdown-menu a:active {
    box-shadow: none;
    background-color: transparent;
    color: initial;
  }
}