a{
  text-decoration: none!important;
  cursor: pointer;
}
.popup{
  font-family: 'CircularStd-Book',sans-serif;
  width: 30vw;
  background: white;
  border-radius: 37px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.title{
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
}
.sub-title{
  font-size: 14px;
  width: 351px;
  margin: 0 auto;
  text-align: center;
}
.registration-form{
  width: 416px;
  margin: 0 auto;
  margin-top: 25px;
  .input-title{
    font-size: 16px;
  }
  input{
    border: none;
    border-bottom: 1px solid #D2D2D7;
    margin-bottom: 21px;
    &:focus{
      outline: none;
    }
  }
  .resend-link{
    color: #008D68;
    font-size: 14px;
    &__active{
      color: #008D68;
      font-size: 14px;
      text-decoration: underline;
    }
  }
}
.form-field{
  display: flex;
  flex-direction: column;
  position: relative;
}
.section-btn{
  background: #177960;
  color: white;
  border-radius: 45px;
  margin-top: 39px;
  margin-bottom: 21px;
  display: inline-block;
  border: none;
  height: 48px;
  width: 417px;
}
.password-toggle{
  width: 29px;
  position: absolute;
  right: 0;
  bottom: 28px;
}
.switch-modal-link{
  color: black;
  border-bottom: 1px solid;
}

