<header class="header">
  <div class="container-wide">
    <div class="header__logo">
      <a href="./">
        <img src="../../../assets/img/logo.svg" alt="Logo" class="header__logo-image">
      </a>
    </div>
    <nav class="header__nav" *ngIf="false">
      <ul class="header__nav-menu">
        <li class="item"><a routerLink="#" class="item__link">Платежные решения</a></li>
        <li class="item"><a routerLink="#" class="item__link">Решения для бизнеса</a></li>
        <li class="item"><a routerLink="#" class="item__link">Онлайн-кассы</a></li>
      </ul>
    </nav>
    <button class="button secondary btn-small" (click)="openModalLogin()">Войти</button>
  </div>
</header>

<!--Modal-->
<ng-template #login let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Войти</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-block">
        <input
            id="header-email"
            class="input"
            type="password"
            placeholder=" ">
        <label
            for="header-email"
            class="placeholder">
          Эл. почта
        </label>
      </div>
      <div class="input-block">
        <input
            id="header-password"
            class="input"
            type="password"
            placeholder=" ">
        <label
            for="header-password"
            class="placeholder">
          Пароль
        </label>
      </div>

      <label class="checkbox">
        <input type="checkbox" class="checkbox__input checkboxItem">
        <span class="checkbox__icon"></span>
        <span class="checkbox__name">Запомнить меня</span>
      </label>
      <button type="submit" class="button primary btn-small">Войти</button>
    </form>
    <button type="button" class="button outline btn-small" (click)="openModal(recoveryPassword)">Забыли пароль?</button>
  </div>
</ng-template>

<ng-template #recoveryPassword let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Восстановить пароль</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-block">
        <input
            inputmode="numeric"
            id="phone1"
            class="input"
            type="text"
            placeholder=" "
            prefix="+7 "
            mask="(000) 000-00-00">
        <label
            for="phone1"
            class="placeholder">
          Телефон
        </label>
      </div>
      <div class="input-block">
        <input
            id="name1"
            class="input"
            type="password"
            placeholder=" ">
        <label
            for="name1"
            class="placeholder">
          Фамилия и имя
        </label>
      </div>

      <label class="checkbox">
        <input type="checkbox" class="checkbox__input checkboxItem">
        <span class="checkbox__icon"></span>
        <span class="checkbox__name">Запомнить меня</span>
      </label>
      <button type="submit" class="button primary btn-small">Войти</button>
    </form>
    <button type="button" class="button outline btn-small">Забыли пароль?</button>
  </div>
</ng-template>





<div class="header" *ngIf="false">
  <div class="container-fluid header-menu">
    <a href="#">
      <img src="../../../assets/shapes/Logo_header.svg" alt="logo" *ngIf="width>1000&&theme==='white'">
      <img src="../../../assets/shapes/logo_footer.svg" alt="logo" *ngIf="width<1000||theme!=='white'">
    </a>
    <div>
      <a href="#" class="header-link ml-0" [class.white]="theme!=='white'" >Get started</a>
      <a href="#" class="header-link" [class.white]="theme!=='white'">Modules</a>
      <a href="#" class="header-link" [class.white]="theme!=='white'">Pricing</a>
      <a href="#" class="header-link" [class.white]="theme!=='white'">API</a>
      <a class="header-link" [class.white]="theme!=='white'" [routerLink]="'/feedback'">Contact</a>
    </div>
    <div>
      <a href="#" class="header-link ml-0" [class.white]="theme!=='white'" (click)="$event.preventDefault();open(loginModal)">Login</a>
      <a class="sign-up--button"
         *ngIf="theme==='white'"
         (click)="$event.preventDefault();open(registerModal)">Sign up</a>
      <a class="sign-up--button"
         *ngIf="theme!=='white'"
         (click)="$event.preventDefault();open(registerModal)">Sign up</a>
      <a href="#" class="header-link" [class.white]="theme!=='white'">EN</a>
    </div>
    <div class="position-relative hamburger" (click)="isDropdownOpen=!isDropdownOpen">
      <svg xmlns="http://www.w3.org/2000/svg" *ngIf="theme=='white'" fill="white" width="24" height="24" viewBox="0 0 24 24"><path d="M13 6h-13v-4h13v4zm0 4h-13v4h13v-4zm0 8h-13v4h13v-4zm3-8l4 5.075 4-5.075h-8z"/></svg>
      <svg xmlns="http://www.w3.org/2000/svg" *ngIf="theme!=='white'" fill="black" width="24" height="24" viewBox="0 0 24 24"><path d="M13 6h-13v-4h13v4zm0 4h-13v4h13v-4zm0 8h-13v4h13v-4zm3-8l4 5.075 4-5.075h-8z"/></svg>
    </div>
    <div class="dropdown" *ngIf="isDropdownOpen">
      <a href="#" class="dropdown-link"  (click)="isDropdownOpen=false;">Get started</a>
      <a href="#" class="dropdown-link"  (click)="isDropdownOpen=false;">Modules</a>
      <a href="#" class="dropdown-link"  (click)="isDropdownOpen=false;">Pricing</a>
      <a href="#" class="dropdown-link"  (click)="isDropdownOpen=false;">API</a>
      <a class="dropdown-link" [routerLink]="'/feedback'" (click)="isDropdownOpen=false;">Contact</a>
      <a href="#" class="dropdown-link" (click)="$event.preventDefault();open(loginModal);isDropdownOpen=false">Login</a>
      <a href="#" class="dropdown-link" (click)="$event.preventDefault();open(registerModal);isDropdownOpen=false">Sign up</a>
    </div>
  </div>
</div>
<ng-template #register let-modal>
  <div class="popup">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="modalService.dismissAll(false)">
        <span aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17">
            <g>
              <g>
                <path fill="#008D68"
                      d="M15.514 16.407a.966.966 0 0 1-1.373 0l-6.27-6.26-6.26 6.27a.983.983 0 0 1-1.364-.01.954.954 0 0 1 0-1.363l6.26-6.26-6.26-6.27a.954.954 0 0 1-.289-.682c0-.258.103-.506.29-.682a.96.96 0 0 1 1.363-.01l6.26 6.27 6.27-6.26a.964.964 0 1 1 1.363 1.364l-6.26 6.27 6.26 6.26a.963.963 0 0 1 .01 1.363z"/>
              </g>
            </g>
          </svg>
        </span>
      </button>
    </div>
    <div>
      <p class="title">Apply for registration</p>
    </div>
    <form [formGroup]="registerForm" class="registration-form">
      <div class="form-field">
        <span class="input-title">Your name *</span>
        <input [class.error]="isInvalid(registerForm,'username')" type="text" formControlName="username">
      </div>
      <div class="form-field">
        <span class="input-title">Phone number *</span>
        <input type="text" formControlName="phone">
      </div>
      <div class="form-field">
        <span class="input-title">Email *</span>
        <input [class.error]="isInvalid(registerForm,'email')" type="email" formControlName="email">
      </div>
      <div class="form-field">
        <span class="input-title">Comment</span>
        <input type="text" formControlName="comment">
      </div>
      <button [disabled]="registerForm.invalid"
              [class.disabled]="registerForm.invalid" class="section-btn" (click)="$event.preventDefault();">Send an application</button>
    </form>
    <div class="modal-footer">
      <p class="m-0 m-auto">Already have an account? <a href="#" class="switch-modal-link" (click)="$event.preventDefault();switchToLogin(loginModal)">Log In</a></p>
    </div>
  </div>
</ng-template>
<ng-template #login let-modal>
  <div class="popup">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="modalService.dismissAll(false)">
        <span aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17">
            <g>
              <g>
                <path fill="#008D68"
                      d="M15.514 16.407a.966.966 0 0 1-1.373 0l-6.27-6.26-6.26 6.27a.983.983 0 0 1-1.364-.01.954.954 0 0 1 0-1.363l6.26-6.26-6.26-6.27a.954.954 0 0 1-.289-.682c0-.258.103-.506.29-.682a.96.96 0 0 1 1.363-.01l6.26 6.27 6.27-6.26a.964.964 0 1 1 1.363 1.364l-6.26 6.27 6.26 6.26a.963.963 0 0 1 .01 1.363z"/>
              </g>
            </g>
          </svg>
        </span>
      </button>
    </div>
    <div>
      <p class="title" *ngIf="!isTwoFactor">Login</p>
      <p class="title" *ngIf="isTwoFactor">Two-factor authentication</p>
      <p class="title small" *ngIf="isTwoFactor">Please input check code you received on mobile number</p>
      <p class="title small" *ngIf="isTwoFactor">{{loginForm.value.email}}</p>
    </div>
    <form [formGroup]="loginForm" class="registration-form" *ngIf="!isTwoFactor">
      <div class="form-field">
        <span class="input-title">Phone *</span>
        <input [class.error]="isInvalid(loginForm,'email')" type="email" formControlName="email" (input)="errStatusMassage=null">
      </div>
      <div class="form-field">
        <span class="input-title">Password</span>
        <input [class.error]="isInvalid(loginForm,'password')" formControlName="password" [type]="toggle['showPass']?'text':'password'" (input)="errStatusMassage=null">
        <img class="password-toggle" src="../../../assets/shapes/eye.svg" alt="eye" (click)="toggle['showPass']=!toggle['showPass']">
      </div>
      <div class="d-flex">
        <input formControlName="isIpTrusted" type="checkbox" style="height: 21px;width: 21px">
        <p class="ml-3">Save current IP address as trusted</p>
      </div>
      <span style="color: red" *ngIf="errStatusMassage!==null">{{errStatusMassage}}</span>
      <button class="section-btn" (click)="$event.preventDefault();loginAction()">Login</button>
    </form>
    <form class="registration-form" *ngIf="isTwoFactor">
      <div class="form-field">
        <span class="input-title">Code from sms</span>
        <input [class.error]="isInvalid(sms)" type="text" [formControl]="sms">
      </div>
      <button [disabled]="!sms.value"
              [class.disabled]="!sms.value"
              class="section-btn" (click)="$event.preventDefault();confirmCode()">Confirm</button>
    </form>
    <div class="modal-footer">
      <p class="m-0 m-auto" *ngIf="!isTwoFactor">Don't have an account yet? <a href="#" class="switch-modal-link" (click)="$event.preventDefault();switchToLogin(registerModal)">Sign Up</a></p>
    </div>
  </div>
</ng-template>
