<div>
  <div class="row">
    <perfect-scrollbar style="max-height: 605px; max-width: 100%;overflow-y: scroll">
      <div>
        <a href="#" class="btn btn-success btn-round" (click)="$event.preventDefault();navigateToHelp()"><i class="material-icons">arrow_left</i>Назад<div class="ripple-container"></div></a>
        <div class="card w1600">
          <div class="card-header card-header-success card-header-icon d-flex justify-content-end pt-3">
            <span class="chat-header-info">21.05.2021 | 11:34:09</span>
            <span class="chat-header-info ml-3">Merchant ID 43875848</span>
          </div>
          <div class="card-body">
            <h4 class="message-title">Общие проблемы с работой сервиса</h4>
            <p>Равным образом сложившаяся структура организации требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных условий.</p>
            <img class="mr-2" src="../../../assets/img/message-img.png" alt="">
            <img class="mr-2" src="../../../assets/img/message-img.png" alt="">
          </div>
        </div>
        <div class="card w1600">
          <div class="card-body">
            <textarea class="mt-1" placeholder="Текст  сообщения" name="massage" cols="30" rows="10" style="min-height: 140px;width: 100%"></textarea>
            <div>
              <p><i class="material-icons" style="transform: rotate(45deg);">attach_file</i>Прикрепить документ</p>
              <button class="btn btn-success btn-round">Выбрать файлы<div class="ripple-container"></div></button>
            </div>
           </div>
          <div class="card-footer">
            <button class="btn btn-success btn-round ml-auto">Отправить и закрыть<div class="ripple-container"></div></button>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
