<div>
  <ul class="nav nav-pills nav-pills-success" role="tablist">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab==='tab1'" (click)="$event.preventDefault();activeTab='tab1'">
        журнал сообщений
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab==='tab2'" (click)="$event.preventDefault();activeTab='tab2'">
        новое сообщение
      </a>
    </li>
  </ul>
  <div class="row">
    <ng-scrollbar class="calc200" [visibility]="'always'" style="width: 1620px">
      <div class="tab-content tab-space">
        <div class="tab-pane" [class.active]="activeTab==='tab1'">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatables_length">
                <label class="d-flex align-items-baseline">Show <app-custom-select classes="tight" [values]="[10,20,50]"
                    [placeholder]="10"></app-custom-select> entries</label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_filter"><label class="d-flex justify-content-end align-items-center">INPUT<span class="ml-2 bmd-form-group bmd-form-group-sm"><input
                      type="search" class="form-control form-control-sm" placeholder="Search records"
                      aria-controls="datatables" [formControl]="tableSearch"></span></label></div>
            </div>
          </div>
          <ng-template [ngIf]="sortedActions?.length">
            <div class="material-datatables">
              <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                  <button class="btn btn-success btn-round ml-3" (click)="getSupportList()">{{'Обновить'}}</button>
                  <div class="col-sm-12">
                    <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline" width="100%"
                      style="width: 100%;" role="grid" aria-describedby="datatables_info">
                      <thead>
                        <tr role="row">
                          <th class="sortable-th" style="width: 80px;" aria-sort="ascending"
                            aria-label="Name: activate to sort column descending"></th>
                          <th class="sortable-th" style="width: 80px;" (click)="nextSort('id')">
                            <span [class.sorting_desc]="sortHelper.sort.sortBy === 'id'"
                              [class.sorting_asc]="sortHelper.sort.increase&&sortHelper.sort.sortBy === 'id'">№
                              обращения</span>
                          </th>
                          <th class="sortable-th" style="width: 100px;" (click)="nextSort('timestamp')">
                            <span [class.sorting_desc]="sortHelper.sort.sortBy === 'timestamp'"
                              [class.sorting_asc]="sortHelper.sort.increase&&sortHelper.sort.sortBy === 'timestamp'">Дата,
                              время</span>
                          </th>
                          <th class="sortable-th" style="width: 80px;" (click)="nextSort('theme')">
                            <span [class.sorting_desc]="sortHelper.sort.sortBy === 'theme'"
                              [class.sorting_asc]="sortHelper.sort.increase&&sortHelper.sort.sortBy === 'theme'">Тема</span>
                          </th>
                          <th class="sortable-th" style="width: 200px;" (click)="nextSort('text')">
                            <span [class.sorting_desc]="sortHelper.sort.sortBy === 'text'"
                              [class.sorting_asc]="sortHelper.sort.increase&&sortHelper.sort.sortBy === 'text'">Сообщение</span>
                          </th>
                          <th class="sortable-th" style="width: 80px;" (click)="nextSort('status')">
                            <span [class.sorting_desc]="sortHelper.sort.sortBy === 'status'"
                              [class.sorting_asc]="sortHelper.sort.increase&&sortHelper.sort.sortBy === 'status'">Статус</span>
                          </th>
                      </thead>
                      <tfoot>
                        <tr>
                          <th rowspan="1" colspan="1"></th>
                          <th rowspan="1" colspan="1">№ обращения</th>
                          <th rowspan="1" colspan="1">Дата, время</th>
                          <th rowspan="1" colspan="1">Тема</th>
                          <th rowspan="1" colspan="1">Сообщение</th>
                          <th rowspan="1" colspan="1">Статус</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr role="row" class="cursor-pointer" *ngFor="let item of sortedActions" (click)="navigateToChat(item.id)">
                          <td *ngIf="!item.important" (click)="$event.stopPropagation();"><i
                              class="material-icons-outlined">bookmark_border</i></td>
                          <td class="red" *ngIf="item.important" (click)="$event.stopPropagation()"><i
                              class="material-icons-outlined">turned_in</i></td>
                          <td>{{item.id}}</td>
                          <td>{{item.timestamp | date :'dd.MM.YYYY | hh:mm'}}</td>
                          <td>{{item.theme}}</td>
                          <td>{{item.text}}</td>
                          <td>{{item.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_full_numbers">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-container *ngIf="!sortedActions.length">
            <div class="d-flex justify-content-around">
              <span>список сообщений пуст</span>
            </div>
          </ng-container>
        </div>
        <div class="tab-pane" [class.active]="activeTab==='tab2'">
          <div class="card w1600">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons-outlined">email</i>
              </div>
              <h4 class="card-title">Написать в службу поддержки</h4>
            </div>
            <form class="card-body" [formGroup]="questionForm">
              <app-custom-select formControlName="theme" classes="larger m-0"
                [values]="['Изменение регистрационных данных','Общие проблемы с работой сервиса','Проблемы с оплатой','Прочее']"
                placeholder="Тема обращения"></app-custom-select>
              <textarea formControlName="text" class="mt-3" placeholder="Текст  сообщения" name="massage" cols="30"
                rows="10" style="min-height: 140px;width: 100%"></textarea>
              <div>
                <div class="d-flex">
                  <input type="file" id="fileUpload" class="d-none" (change)="fileChosen($event.target.files)">
                  <label class="btn btn-success btn-round" for="fileUpload">Выбрать файлы</label>
                </div>
                <ng-container *ngIf="chosenFile.length">
                  <p class="subtitle" *ngFor="let file of chosenFile, let i = index">
                    {{file.name}}
                    <a class="deletelink" href="#" title="" (click)="$event.preventDefault(); deleteFile(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <defs>
                          <clipPath id="g4uga">
                            <path fill="#fff"
                              d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0z"></path>
                          </clipPath>
                        </defs>
                        <g>
                          <g>
                            <path fill="none"
                              d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0z"></path>
                            <path fill="none" stroke="#e91212" stroke-linecap="round" stroke-linejoin="round"
                              stroke-miterlimit="20" stroke-width="4"
                              d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0z"
                              clip-path="url(&quot;#g4uga&quot;)"></path>
                          </g>
                          <g>
                            <path fill="#e91212"
                              d="M13.534 6.46a.999.999 0 0 1 .001 1.415l-2.122 2.122 2.122 2.121a1 1 0 0 1-1.415 1.414L10 11.411l-2.122 2.121a1 1 0 0 1-1.415-1.414l2.122-2.121-2.122-2.122a1 1 0 0 1 1.415-1.414L10 8.582l2.121-2.121a1 1 0 0 1 1.414 0z">
                            </path>
                          </g>
                        </g>
                      </svg>
                      Удалить
                    </a>
                  </p>
                </ng-container>
                <!--                <button class="btn btn-success btn-round">Выбрать файлы<div class="ripple-container"></div></button>-->
              </div>
            </form>
            <div class="card-footer">
              <button class="btn btn-success btn-round ml-auto" (click)="send()">Отправить<div class="ripple-container">
                </div></button>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>
<app-massage-modal #massageModal [messageType]="'messageSend'" (onModalClose)="modalClosed($event)"></app-massage-modal>
