<div class="container-fluid" style="width: 1111px; height: 50px;margin:0 auto; margin-top:28px; display:flex;justify-content: space-between;align-items: center;">
  <a href="#">
    <img src="../../../assets/shapes/Logo_header.svg" alt="logo">
  </a>
  <div>
    <a href="#" style="font-size: 16px;color: white;">Get started</a>
    <a href="#" style="font-size: 16px;color: white;margin-left: 20px">Modules</a>
    <a href="#" style="font-size: 16px;color: white;margin-left: 20px">Pricing</a>
    <a href="#" style="font-size: 16px;color: white;margin-left: 20px">API</a>
    <a href="#" style="font-size: 16px;color: white;margin-left: 20px">Contact</a>
  </div>
  <div>
    <a href="#" style="font-size: 16px;color: white;">Login</a>
    <a href="#" style="margin-left: 20px;padding: 11px 17px; background: white; color: #177960;border-radius: 20px">Sign up</a>
    <a href="#" style="color: white;margin-left: 20px;">EN</a>
  </div>
</div>
