<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add payment Card</title>
</head>
<body>
<a href="https://card.capitalpay.kz?merchantId=663&cashBoxId=13177&params=userId:123456"
    target="_blank"
    style="display: block;
    width: 150px;
    height: 25px;
    background: #66af4e;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: calc(50vh - 25px);
    line-height: 25px;">pay using credit card</a>
</body>
</html>

