@font-face {
  font-family: Mont;
  src: url(assets/fonts/Mont-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: MontMedium;
  src: url(assets/fonts/Mont-SemiBold.ttf);
  font-style: normal;
}

@font-face {
  font-family: MontBlack;
  src: url(assets/fonts/Mont-Bold.ttf);
  font-style: normal;
}


html {
  text-rendering: optimizeLegibility;
  min-width: 320px;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  h1, h2, h3, h4, h5, h6, p, ul, li {
    font-family: 'Mont', sans-serif;
    //color: #000000;
  }

  background-color: #fff !important;
}

* {
  box-sizing: border-box;
  outline: none;

  &:after,
  &:before {
    box-sizing: inherit;
    transition: inherit;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

.container-wide {
  width: 100%;
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  font-family: 'MontMedium', sans-serif;
  font-size: 18px;
  line-height: 40px;
  border-radius: 12px;
  transition: .3s all;
  border: none;
  padding: 8px 38px;
  display: inline-block;

  &:focus {
    outline: none;
  }

  &.primary {
    background-color: #02AB81;
    color: #ffffff;

    &:hover {
      background-color: #159473;
    }

    &:active {
      background-color: #02AB81;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &.secondary {
    background-color: #FFFFFF;
    border: 1px solid #02AB81;
    color: #02AB81;

    &:hover {
      background-color: #E8F7F4;
      border: 1px solid #CFF3EB;
    }

    &:active {
      background-color: #159473;
      border: 1px solid #159473;
      color: #fff;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &.outline {
    background-color: #FFFFFF;
    color: #02AB81;

    &:hover {
      background-color: #E8F7F4;
    }

    &:active {
      background-color: #159473;
      color: #fff;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &.btn-small {
    padding: 4px 24px;
  }
}

.button-block {
  display: flex;
  align-items: center;
}

.input-block {
  height: 50px;
  position: relative;
  width: 100%;

  .input {
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    outline: 0;
    padding: 4px 12px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 12px;
    background-color: #fff;
  }

  .placeholder {
    position: absolute;
    top: 18px;
    left: 20px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 14px;
    pointer-events: none;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    padding: 0 4px;
    background-color: #fff;
  }

  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-25px) scale(0.85);
  }

  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }

  &__visibility-btn {
    width: 22px;
    height: 22px;
    display: block;
    border: none;
    background-color: transparent;
    background-image: url("assets/img/invisible.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    &.active {
      background-image: url("assets/img/visible.svg");
    }
    &:focus {
      outline: none;
    }
  }
}

.lending-modal {
  .modal-dialog.modal-dialog {
    background-color: #fff;
    border-radius: 20px;
    .modal-content {
      width: 100%;
      max-width: 550px;
      padding: 65px 65px 18px 65px;
      border-radius: 20px;
      @media screen and (max-width: 515px) {
        padding: 64px 24px 24px 24px;
      }
    }

    .modal-header {
      padding: 0;
    }

    .modal-title {
      font-family: 'MontBlack', sans-serif;
      font-size: 32px;
      line-height: 56px;
      text-align: center;
      margin-bottom: 24px;
      @media screen and (max-width: 515px) {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
      }
    }

    .modal-body {
      padding: 0;
    }

    .btn-close {
      width: 24px;
      height: 24px;
      display: block;
      background-image: url("assets/img/close-modal.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
      background-color: transparent;
      position: absolute;
      top: 24px;
      right: 24px;

      &:focus {
        outline: none;
      }
    }

    .button {
      width: 100%;
    }

    .input-block {
      margin-bottom: 24px;
    }
  }
}



.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 24px;

  &__input {
    position: absolute;
    appearance: none;

    &:checked {
      & + .checkbox__icon {
        background-image: url("assets/img/checkbox-checked.svg");
      }
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    display: block;
    background-image: url("assets/img/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__name {
    margin-left: 8px;
    margin-top: 2px;
    font-family: 'MontMedium', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    @media screen and (max-width: 515px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}



/* You can add global styles to this file, and also import other style files */
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
body{
  font-family: 'CircularStd-Book',sans-serif;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  //overflow-y: scroll;
  overflow-x: hidden;
  //background: #F6FAFA!important;
  //background: black!important;
}
.disabled{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}
.parallax {
  perspective: 1px;
  height: 100vh!important;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax::-webkit-scrollbar {
  display: none;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input{
  border: none;
  border-bottom: 1px solid #d2d2d7;
  margin-bottom: 21px;
  &:focus{
    outline: none;
  }
  &.error{
    border-bottom: 1px solid #ff0000;
  }
}
.parallax__layer--base {
  transform: translateZ(+1px);
}

.parallax__layer--back {
  transform: translateZ(-1px);
  z-index: -1000;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  border: none!important;
  color: #008D68!important;
  position: relative;
  text-decoration: underline!important;
  text-underline-position: under;
  background: transparent!important;
  font-size: 18px;
}
.nav-tabs .nav-link, .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link{
  border: none;
  color: black!important;
}
.nav{
  border: none;
}
.nav-tabs {
  border-bottom: none!important;
}
.carousel-cell img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
}
.carousel-arrow.carousel-arrow-next{
  background-image: url('assets/shapes/carousel/iconmonstr-arrow-63.svg')!important;
  background-color: transparent!important;
  box-shadow: none!important;
  &.carousel-arrow-disabled{
    opacity: 0.5;
  }
}
//carousel-arrow-disabled
.carousel-arrow.carousel-arrow-prev{
  background-image: url('assets/shapes/carousel/iconmonstr-arrow-64.svg')!important;
  background-color: transparent!important;
  box-shadow: none!important;
  &.carousel-arrow-disabled{
    opacity: 0.5;
  }
}
.carousel-indicators li {
  background-color: #1e7e34!important;
}
.carousel-indicators .active {
  background-color: #ffff99;
}
.carousel-inner{
  width: 100vw!important;
  @include for-desktop-up {
    margin-left: 32px;
  }
  @include for-big-desktop-up {
    margin-left: -32px;
  }
}
@media(max-width: 321px){
  //.carousel-cells{
  //  width:400px!important;
  //}
}

//.modal{
//  top:30%!important;
//}
.modal-content{
  background: transparent!important;
  border: none!important;
}
.modal-header{
  border-bottom: none!important;
}
.modal-footer{
  border-top: none!important;
  padding: 0 0 46px 0 !important;
}
textarea{
  border-color: #ddd;
  &::placeholder{
    color: rgba(0, 0, 0, 0.5);
  }
}
.sidebar-mini{
  .wrapper{
    .sidebar{
      .no-collapse{
        display: none;
      }
      .collapse{
        display: block;
      }
    }
    .sidebar:hover{
      .no-collapse{
        display: block;
      }
      .collapse{
        display: none;
      }
    }
  }
}
.wrapper{
  .sidebar{
    .collapse{
      display: none;
    }
  }
}
.cursor-pointer{
  cursor: pointer!important;
}
.ng-scrollbar .ng-scrollbar-wrapper[deactivated=false][dir=ltr]>scrollbar-y.scrollbar-control{
  position: absolute;
  right: -20px;
}
.ng-scrollbar{
  height: calc(100vh - 620px)!important;
}
.ng-scrollbar.calc300{
  height: calc(100vh - 349px)!important;
}
.ng-scrollbar.user{
  height: calc(100vh - 515px)!important;
}
.stselect ul .ng-scrollbar{
  height: unset!important;
}
/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
  cursor: pointer!important;
}
.ng-scrollbar .ng-scrollbar-wrapper[deactivated=false][dir=ltr]>scrollbar-y.scrollbar-control{
  position: absolute;
  right: -20px;
}
.ng-scrollbar{
  height: calc(100vh - 620px)!important;
}
.ng-scrollbar.calc350{
  height: calc(100vh - 350px)!important;
}
.ng-scrollbar.calc300{
  height: calc(100vh - 250px)!important;
}
.ng-scrollbar.calc140{
  height: calc(100vh - 140px)!important;
}
.ng-scrollbar.calc200{
  height: calc(100vh - 200px)!important;
}
.ng-scrollbar.calc100{
  height: calc(100vh - 160px)!important;
}
.icon-color{
  color: #008E67;
}
.api-container{
  p{
    margin: 0!important;
  }
}
.carousel-indicators{
  width: 70vw!important;
}
