/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'CircularStd-Book',sans-serif;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #F6FAFA!important;
  //background: black!important;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(+1px);
}

.parallax__layer--back {
  transform: translateZ(-1px);
  z-index: -1000;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  border: none;
  color: #008D68!important;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 18px;
}
.nav-tabs .nav-link, .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link{
  border: none;
  color: black!important;
}
.nav{
  border: none;
}
.nav-tabs {
  border-bottom: none!important;
}
.carousel-cell img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
}
.carousel-arrow.carousel-arrow-next{
  background-image: url('assets/shapes/carousel/iconmonstr-arrow-63.svg')!important;
  background-color: transparent!important;
  box-shadow: none!important;
  &.carousel-arrow-disabled{
    opacity: 0.5;
  }
}
//carousel-arrow-disabled
.carousel-arrow.carousel-arrow-prev{
  background-image: url('assets/shapes/carousel/iconmonstr-arrow-64.svg')!important;
  background-color: transparent!important;
  box-shadow: none!important;
  &.carousel-arrow-disabled{
    opacity: 0.5;
  }
}
.carousel-indicators li {
  background-color: #1e7e34!important;
}
.carousel-indicators .active {
  background-color: #ffff99;
}
.carousel-inner{
  width: 120%!important;
  margin-left: -32px;
}
@media(max-width: 321px){
  //.carousel-cells{
  //  width:400px!important;
  //}
}

