<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Paysystems Temporary Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Paysystems Temporary Page</h1>
<table border="1" cellpadding="5" cellspacing="5">
    <tr>
        <td id="cell">

        </td>
    </tr>
</table>
</body>
<script th:inline="javascript">

    var payment = {'paymentId': [[${paymentId}]]};


    $.ajax({
        type: 'POST',
        url: '/public/api/paysystem/system/buttonlist',
        data: JSON.stringify(payment),
        success: function (data) {
            $('#cell').html(data.data[0].paymentForm);
            console.log(data.data)
        },
        dataType: 'json',
        contentType: "application/json;",
    })
</script>

</html>
