<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test redirect</title>
</head>
<body>
<!--        action="https://epay.kkb.kz/jsp/hbpay/logon.jsp" -->
<FORM action="https://testpay.kkb.kz/jsp/hbpay/logon.jsp"
      METHOD="POST" id="SendOrder" hidden></br>
    <input hidden name="Signed_Order_B64" type="text" th:value="${xml}"/>
    <input hidden name="BackLink" type="text" th:value="${backLink}"/>
    <input hidden name="PostLink" type="text" th:value="${postLink}"/>
    <input hidden type="submit" name="GotoPay" value="SEND"/>
</FORM>

<script>
    form = document.getElementById("SendOrder");
    form.submit();
</script>

</body>
</html>
