<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test Payment Temporary</title>
</head>
<p>
<h1>Test Payment Temporary</h1>
<p>Payment ID: <span th:text="${paymentid}"></span></p>
<p>Bill number: <span th:text="${billid}"></span></p>
<p>Total: <span th:text="${totalamount}"></span> <span th:text="${currency}"></span></p>
<p>Card number<input></p>
<p>
<form action="/testsystem/buttonclick" method="post">
    <input name="paymentid" type="hidden" th:value="${paymentid}">
    <input name="status" type="hidden" value="1">
    <button type="submit">Succes</button>
</form>
</p>
<p>
<form action="/testsystem/buttonclick" method="post">
    <input name="paymentid" type="hidden" th:value="${paymentid}">
    <input name="status" type="hidden" value="2">
    <button type="submit">Failed</button>
</form>
</p>
<p>
<form action="/testsystem/buttonclick" method="post">
    <input name="paymentid" type="hidden" th:value="${paymentid}">
    <input name="status" type="hidden" value="3">
    <button type="submit">Pending</button>
</form>
</p>
<p>
<form action="/testsystem/buttonclick" method="post">
    <input name="paymentid" type="hidden" th:value="${paymentid}">
    <input name="status" type="hidden" value="0">
    <button type="submit">Random</button>
</form>
</p>
</body>
</html>
