<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Payment Temporary</title>
</head>
<p>
<h1>Test Payment Temporary</h1>
<p>Card number<input></p>
<p>
<form action="/" method="post">
    <button>Succes</button>
</form>
</p>
<p>
<form action="/" method="post">
    <button>Failed</button>
</form>
</p>
<p>
<form action="/" method="post">
    <button>Pending</button>
</form>
</p>
<p>
<form action="/" method="post">
    <button>Random</button>
</form>
</p>
</body>
</html>
