<div [class]='"stselect " + classes' [class.opened]="opened" [class.direction-top]="isDirectionTop">
  <div class='head' (click)="!disabled ? opened = !opened: false; onTouched()" #selectElem >
    {{value !== null ? getValueTitle(value) : getCurrentValuesText()}}
    <i class="material-icons" style="position: absolute;top: 8px;right: 15px;">arrow_drop_down</i>
  </div>

  <ul>
    <li *ngIf="hasSearch">
      <p class="my-0"><input class="form-control form-control-sm" [formControl]="searchStr" [placeholder]="'Пошук'"></p>
    </li>
    <perfect-scrollbar style="max-height: 400px; max-width: 100%;overflow-y: scroll">
      <li *ngFor="let v of filteredValues" (click)="updateValue(v);">
        <p>{{getValueTitle(getValueValue(v))}}</p>
      </li>
    </perfect-scrollbar>
  </ul>
</div>
