@keyframes visa {
  from {top: 474px;left: 203px;}
  to {top: 415px;left: 302px;}
}
.visa{
  animation-name: visa;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 415px;
  left: 302px;
}
@keyframes am-ex {
  from {top: 108px;left: 218px;}
  to {top: 243px;left: 302px;}
}
.am-ex{
  animation-name: am-ex;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 243px;
  left: 302px;
}
@keyframes alfabank {
  from {top: 414px;left: 715px;}
  to {top: 413px;left: 519px;}
}
.alfabank{
  animation-name: alfabank;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 413px;
  left: 519px;
}
@keyframes ebay {
  from {top: 148px;left: 410px;}
  to {top: 243px;left: 410px;}
}
.ebay{
  animation-name: ebay;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 243px;
  left: 410px;
}
@keyframes master {
  from {top: 547px;left: 378px;}
  to {top: 500px;left: 355px;}
}
.master{
  animation-name: master;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 500px;
  left: 355px;
}
@keyframes sberbank {
  from {top: 284px;left: 274px;}
  to {top: 327px;left: 355px;}
}
.sberbank{
  animation-name: sberbank;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 327px;
  left: 355px;
}
@keyframes upay {
  from {top: 603px;left: 130px;}
  to {top: 500px;left: 250px;}
}
.upay{
  animation-name: upay;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 500px;
  left: 250px;
}
@keyframes yandex {
  from {top: 607px;left: 559px;}
  to {top: 500px;left: 465px;}
}
.yandex{
  animation-name: yandex;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 500px;
  left: 465px;
}
@keyframes paypal {
  from {top: 314px;left: 568px;}
  to {top: 413px;left: 408px;}
}
.paypal{
  animation-name: paypal;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 413px;
  left: 408px;
}
@keyframes maestro {
  from {top: 80px;left: 542px;}
  to {top: 243px;left: 519px;}
}
.maestro{
  animation-name: maestro;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 243px;left: 519px;
}
@keyframes qiwi {
  from {top: 314px;left: 125px;}
  to {top: 327px;left: 250px;}
}
.qiwi{
  animation-name: qiwi;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 327px;
  left: 250px;
}
@keyframes amazon {
  from {top: 234px;left: 692px;}
  to {top: 327px;left: 465px;}
}
.amazon{
  animation-name: amazon;
  animation-duration: 4s;
  animation-delay: 10s;
  top: 327px;
  left: 465px;
}

