<div class="tpsform form2-theme">
    <div class="info-block col-2">
        <div class="company-info">
            <div class="text-field">
                <label>Компания:</label> ТОО «CapitalPay»
            </div>
            <div class="text-field">
                <label>Адрес:</label> Астана, ул.Калдаякова, 17-55
            </div>
            <div class="text-field">
                <label>Телефон:</label> +7 777 610-10-33
            </div>
        </div>
        <div class="logo">
            <img src="/assets/img/logo.svg" alt="Logo">
        </div>
    </div>
    <form class="info-block" [formGroup]="formInvoicing">
        <label class="tpsform_input" style="position: relative">
            <span class="focused">Сумма перевода*:</span>
            <input type="text" placeholder="Введите сумму перевода" formControlName="sum" mask="separator.2" suffix=" ₸">
        </label>
        <label class="tpsform_input" style="position: relative" >
            <span class="focused">Номер заказа (накладная)*:</span>
            <input type="text" placeholder="Введите Номер заказа (накладная)" formControlName="consignment">
        </label>
        <label class="tpsform_input" style="position: relative" >
            <span class="focused">БИН / ИИН:</span>
            <input type="number" placeholder="Введите БИН / ИИН" formControlName="bin">
        </label>
        <label class="tpsform_input" style="position: relative" >
            <span class="focused">Email (для квитанции)*:</span>
            <input type="text" placeholder="Введите Email" formControlName="email">
        </label>
        <label class="tpsform_input" style="position: relative" >
            <span class="focused">Комментарий для продавца:</span>
            <input type="text" placeholder="Оставьте комментарий для продавца" formControlName="comment">
        </label>
    </form>
    <div class="payment-block">
        <span>
            <div class="title">Способ оплаты</div>
        </span>
        <div class="type-block">
            <div class="subtitle">Банковские карты</div>
            <div class="items">
                <div class="row">
                    <div class="item" [class.active]="formInvoicing.get('bankCards').value === 1" (click)="bankCardsChange(1)">
                        <div class="item-block">
                            <img src="/assets/img/Visa_Inc._logo.png" alt="Visa">
                        </div>
                    </div>
                    <div class="item" [class.active]="formInvoicing.get('bankCards').value === 2" (click)="bankCardsChange(2)">
                        <div class="item-block">
                            <img src="/assets/img/Mastercard-logo.png" alt="MasterCard">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-block info-finish">
        <div class="title">
            <div>Комиссия: <span class="right">0₸</span></div>
            <div> Итого к оплате: <span class="right"><span>{{formInvoicing.get('sum').value ? (formInvoicing.get('sum').value | mask: 'separator.2') : '0.00'}}</span> ₸</span></div>
        </div>
        <button class="form-btn form2-theme green-theme">
            <span>Продолжить</span>
        </button>
        <div class="hint">Нажимая «Продолжить», вы соглашаетесь с <a href="/assets/pdf/confidentiality.pdf" target="_blank"> Политикой конфиденциальности</a></div>
    </div>
</div>
