.tpsform.form2-theme {
  padding: 0;
}
.info-block {
  border-bottom: 0.5px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 30px 29px 30px;
  .text-field label {
    font-weight: bold;
  }
}
.company-info {
  .text-field {
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.tpsform_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
form {
  display: flex;
  flex-direction: column;
  label {
    width: 100%;
  }
}
.payment-block .items .item .item-block {
  position: relative;
  background: #f7f7f7;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.payment-block .title {
  font-weight: bold;
  padding: 44px 30px 0;
}
.payment-block .subtitle {
  padding: 21px 30px 0;
  font-size: 12px;
}
.payment-block .items {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.payment-block .items .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 25px;
}
.payment-block .items .item {
  position: relative;
  float: left;
  width: 49%;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-block .items .item:first-child {
  justify-content: flex-start !important;
}
.info-block .hint {
  font-size: 12px;
  color: #8A8A8A;
  margin-top: 19px;
  text-align: center;
}
.payment-block .items .item .item-block:hover {
  border-radius: 3px;
  background: rgba(2, 171, 129, 0.3);
}
.info-finish {
  flex-direction: column;
  align-items: inherit;
  .title {
    margin-bottom: 20px;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
  a {
    color: #02AB81;
  }
}
.right {
  //float: right;
}