<ng-container *ngIf="queryParamEnable">
  <form class="tpsform form2-theme" [formGroup]="cardForm" *ngIf="p2pEnabled">
    <label class="tpsform_input" style="position: relative" for="cardnumber">
      <span class="focused">Card number  *</span>
      <span class="error" style="left: 141px;bottom: -42px;"
            *ngIf="expInvalid">invalid exp date</span>
      <!--добавьте к span класс .focused при фокусе на инпуте-->
      <input type="text" placeholder="" id="cardnumber" autocomplete="cc-number" formControlName="cardNumber" mask="0000 0000 0000 0000"
             [disabled]="redirect"
             [class.disabled]="redirect"
             [class.invalid]="cardForm.controls.cardNumber.invalid">
      <span class="error" *ngIf="cardForm.controls.cardNumber.invalid">card invalid</span>
    </label>
    <label class="tpsform_input" for="cardHolderName" *ngIf="cardHolderNameEnabled()">
      <span class="focused">Card Holder Name</span>
      <!--добавьте к span класс .focused при фокусе на инпуте-->
      <input type="text" placeholder="" id="cardHolderName" autocomplete="cc-name" formControlName="cardHolderName"
             [disabled]="redirect"
             [class.disabled]="redirect">
    </label>
    <label class="tpsform_input" for="email" *ngIf="cardHolderNameEnabled()">
      <span class="focused">Email</span>
      <!--добавьте к span класс .focused при фокусе на инпуте-->
      <input type="email" placeholder="" id="email" autocomplete="email" formControlName="email"
             [disabled]="redirect"
             [class.disabled]="redirect">
    </label>
    <label class="tpsform_input" for="phone" *ngIf="cardHolderNameEnabled()">
      <span class="focused">Phone</span>
      <!--добавьте к span класс .focused при фокусе на инпуте-->
      <input type="tel" placeholder="" id="phone" autocomplete="tel" formControlName="phone"
             [disabled]="redirect"
             [class.disabled]="redirect">
    </label>
    <div class="formline">
      <div class="select form2-theme">
        <div class="select_label">Expiration Date *</div>
        <app-custom-select classes="noArrow" autocomplete="cc-exp-month"
                           [disabled]="redirect"
                           [class.disabled]="redirect"
                           [values]="['01','02','03','04','05','06','07','08','09','10','11','12']" formControlName="expirationMonth" (click)="dateInvalid()"></app-custom-select>
      </div>
      <div class="select form2-theme">
        <div class="select_label">&nbsp;</div>
        <app-custom-select classes="noArrow"
                           autocomplete="cc-exp-year"
                           [disabled]="redirect"
                           [class.disabled]="redirect"
                           [values]="yearsArr" formControlName="expirationYear" (click)="dateInvalid()"></app-custom-select>
      </div>
      <label class="tpsform_input ico pass" for="cardseccode">
        <span>Card Security Code *</span>
        <!--добавьте к span класс .focused при фокусе на инпуте-->
        <input type="number" autocomplete="cc-exp" id="cardseccode" formControlName="cvv2Code">
        <span class="error" *ngIf="cardForm.controls.cvv2Code.touched&&cardForm.controls.cvv2Code.invalid">invalid cvv length</span>
      </label>
    </div>
    <div class="checkbox" style="position: relative">
      <input type="checkbox" name="" id="termsandprivacy" [formControl]="acceptTerms">
      <label for="termsandprivacy">I accept the <a href="#!">terms of service</a> and have read the
        <a href="#!">privacy policy</a>.</label>
      <span class="error" *ngIf="validityError">Error on card validity check.{{getErrMassage()}} Use other card or try again</span>
    </div>
    <span style="color: red" *ngIf="errStatusMassage!==null">{{errStatusMassage}}</span>
    <button [disabled]="redirect" [class.disabled]="redirect"
            class="form-btn form2-theme" (click)="cancel()">Cancel</button>
    <button
      [disabled]="!acceptTerms.value||redirect||cardForm.invalid"
      [class.disabled]="!acceptTerms.value||redirect||cardForm.invalid"
      class="form-btn form2-theme green-theme" type="submit" (click)="saveCard()">{{redirect?'You will be redirected to merchant site in '+ redirectTimer +' secs...':cardHolderNameEnabled()?'Pay':'Add Card'}}</button>
  </form>
  <ng-container *ngIf="!p2pEnabled">
    <div class="permitted">
      <span>Operation not permitted</span>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="!queryParamEnable">
  <div class="permitted">
    <span>Missing query parameters</span>
  </div>
</ng-container>
