<div class="background" xmlns="http://www.w3.org/1999/html">
  <div class="logo">
    <img src="../../assets/shapes/regisster-logo.png" alt="logo">
  </div>
  <div class="popup">
    <ng-container *ngIf="step===0">
      <div>
        <p class="title">Register email</p>
      </div>
      <form class="registration-form">
        <div class="form-field">
          <span class="input-title">Email*</span>
          <input [class.error]="isInvalid(email)" type="email" [formControl]="email" (input)="errStatusMassage=null;errRegisterMassage=false">
        </div>
        <span style="color: red" *ngIf="errRegisterMassage">Enter Email</span>
        <span style="color: red" *ngIf="errStatusMassage!==null">{{errStatusMassage}}</span>
        <button class="section-btn" (click)="$event.preventDefault();sendEmail()">Submit email</button>
      </form>
    </ng-container>
    <ng-container *ngIf="step===1">
      <div>
        <p class="title">Checkout your email</p>
      </div>
      <form class="registration-form">
        <button class="section-btn" (click)="$event.preventDefault();navigate()">Close</button>
      </form>
    </ng-container>
    <ng-container *ngIf="step===4">
      <div>
        <p class="title">Phone verification</p>
        <p class="sub-title">Please input check code you recieved on mobile number <span>{{phoneNumber.value}}</span></p>
      </div>
      <form class="registration-form">
        <div class="form-field">
        <span class="input-title">Code from sms *</span>
        <input [class.error]="isInvalid(confirmCodeForm)"type="text" [formControl]="confirmCodeForm" (input)="errStatusMassage=null;errCodeMassage=false">
        </div>
        <span style="color: red" *ngIf="errCodeMassage">Enter code from sms</span>
        <span style="color: red" *ngIf="errStatusMassage!==null">{{errStatusMassage}}</span>
        <span class="resend-link" *ngIf="timerValue">Resend check code sms to my mobile  ({{timerValue}} sec)</span>
        <a class="resend-link__active" href="#" *ngIf="!timerValue">Resend check code sms to my mobile</a>
        <button class="section-btn" (click)="$event.preventDefault();confirmCode()">Confirm</button>
      </form>
    </ng-container>
    <ng-container *ngIf="step===3">
      <div>
        <p class="title">Finishing registration</p>
      </div>
      <form class="registration-form">
        <div class="form-field">
          <span class="input-title">Phone number  *</span>
          <input [class.error]="isInvalid(phoneNumber)" type="text" [formControl]="phoneNumber" readonly (input)="errStatusMassage=null">
        </div>
       <div class="form-field">
         <span class="input-title">Password</span>
         <input [class.error]="isInvalid(password)" [formControl]="password" [type]="toggle['showPass']?'text':'password'" (input)="errStatusMassage=null">
         <img class="password-toggle" src="../../assets/shapes/eye.svg" alt="eye" (click)="toggle['showPass']=!toggle['showPass']">
       </div>
        <div class="form-field">
          <span class="input-title">Confirn password</span>
          <input [class.error]="isInvalid(passwordConfirm)" [formControl]="passwordConfirm" [type]="toggle['showConfirmPass']?'text':'password'" (input)="errStatusMassage=null">
          <img class="password-toggle" src="../../assets/shapes/eye.svg" alt="eye" (click)="toggle['showConfirmPass']=!toggle['showConfirmPass']">
        </div>
        <span style="color: red" *ngIf="!comparePasswords()">Passwords do not match</span>
        <span style="color: red" *ngIf="errStatusMassage!==null">{{errStatusMassage}}</span>
        <button class="section-btn" (click)="$event.preventDefault();sendPhoneAndPassword()">Register</button>
      </form>
    </ng-container>
    <ng-container *ngIf="false">
      <div>
        <p class="title">Phone verification</p>
      </div>
      <form class="registration-form">
        <div class="form-field">
          <span class="input-title">Mobile number*</span>
          <input [class.error]="isInvalid(phoneNumber)"type="text" [formControl]="phoneNumber">
        </div>
        <button class="section-btn" (click)="sendCode()"> Send verification code</button>
      </form>
    </ng-container>
  </div>

</div>
