<div>
  <ul class="nav nav-pills nav-pills-success" role="tablist">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab==='tab1'" (click)="$event.preventDefault();activeTab='tab1'">
        страницы
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab==='tab2'" (click)="$event.preventDefault();activeTab='tab2'">
        другое
      </a>
    </li>
  </ul>
  <div class="row">
    <div>
      <div class="tab-content tab-space">
        <div class="tab-pane" [class.active]="activeTab==='tab1'">
          <div class="card" style="width: 380px;position:relative;">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">description</i>
              </div>
              <h4 class="card-title ">Пользовательское соглашение</h4>
            </div>
            <div class="card-body mt-4 mb-4">

            </div>
            <hr>
            <div class="card-footer">
              <span>21.05.2021 | 11:34:09</span>
              <a (click)="$event.preventDefault();isActive=!isActive"><img src="../../../assets/img/dots.svg" alt="dots"></a>
            </div>
            <div *ngIf="isActive" class="card m-0 d-flex flex-column justify-content-around pl-2" style="position: absolute;
    width: 160px;
    height: 120px;
    top: 206px;
    right: 0;">
              <a href="#" style="color: black" (click)="$event.preventDefault();isActive=!isActive;delete()">Удалить</a>
              <a href="#" style="color: black" (click)="$event.preventDefault();isActive=!isActive;navigateToEditor()">Открыть в редакторе</a>
            </div>
          </div>
          <a href="#" class="btn btn-success btn-round" (click)="$event.preventDefault();">Добавить страницу<div class="ripple-container"></div></a>
        </div>
        <div class="tab-pane" [class.active]="activeTab==='tab2'">

        </div>
      </div>
    </div>
  </div>
</div>
